<div class="bg-blue-500 md:h-16 mb-3 flex items-center px-[12rem]">
  <a routerLink="jobs">
    <span class="font-bold text-white md:text-xl"> Jobs </span>
  </a>

  <a
    *ngIf="!user"
    routerLink="login"
    style="margin-left: auto; margin-right: 2rem"
  >
    <span class="text-white ml-auto">Login</span>
  </a>
  <a *ngIf="!user" routerLink="register">
    <span class="text-white">Register</span>
  </a>

  <ng-container *ngIf="user">
    <a routerLink="../create" style="margin-left: auto; margin-right: 2rem">
      <span class="text-white">Applied Jobs</span>
    </a>
    <button (click)="logout()" class="text-white cursor-pointer">Logout</button>
  </ng-container>

  <!-- <ng-container *ngIf="user && user.role === 'organization'">
    <a routerLink="../create" style="margin-left: auto; margin-right: 2rem">
      <span class="text-white">Create Job</span>
    </a>
    <a routerLink="../myJobs" style="margin-right: 2rem">
      <span class="text-white">My Jobs</span>
    </a>
    <button (click)="logout()" class="text-white cursor-pointer">Logout</button>
  </ng-container> -->
</div>
