<div
  class="flex w-[28rem] flex-col mx-14 my-2 shadow-xl rounded-xl cursor-pointer hover:scale-105 ease-in duration-150"
>
  <div (click)="openJobDetails()" class="grid grid-rows-1 grid-cols-1">
    <div class="absolute text-blue-500 m-3 p-2 z-20">
      {{ organization }}
    </div>
    <div
      *ngIf="isMyJobsPage"
      (click)="editJob()"
      class="text-blue-500 justify-self-end m-3 p-2 hover:rounded-full hover:bg-slate-200 transition-all duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
        />
      </svg>
    </div>
    <img class="w-full h-60" [src]="job.image" alt="job" />
  </div>
  <div (click)="openJobDetails()" class="flex flex-wrap px-8 pb-4">
    <span class="basis-1/2">
      <span class="font-bold">Title:</span>
      {{ job.title }}
    </span>
    <span class="basis-1/2 text-right">
      <span class="font-bold">Category:</span>
      {{ job.category }}
    </span>
    <span class="basis-1/2">
      <span class="font-bold">Working Type:</span>
      {{ job.workingType }}
    </span>
    <span class="basis-1/2 text-right">
      <span class="font-bold">Likes: </span>{{ job.likes }}
    </span>
  </div>
  <div *ngIf="userRole === 'user'" class="self-center">
    <button
      (click)="like()"
      class="bg-green-300 border-2 rounded-xl p-2 hover:bg-green-600 hover:text-white w-20 disabled:bg-slate-300 disabled:text-black"
      [disabled]="liked"
    >
      Like
    </button>
    <button
      class="bg-blue-300 border-2 rounded-xl p-2 hover:bg-blue-600 hover:text-white w-20 disabled:bg-slate-300 disabled:text-black"
    >
      Apply
    </button>
  </div>
</div>
